.button-container-retour
{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

#button-retour
{
    margin-left: 100px;
}

.contact-titre-container
{
    text-transform: uppercase;
    color: #FFBC61;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 20px;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    
}

.contact-titre
{
    padding-left: 50px;
    width: 100%;
}

.contact-form-container
{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    width: 50%
}

.contact-block-top
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-line
{
    margin-bottom: 20px;
}

.contact-input
{
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 0.5px solid #fdd380;
    font-size: 20px;
    outline: none;
}

.contact-message
{
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 0.5px solid #fdd380;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

#message-label
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    height: 40px;
    align-items: center;
}

.contact-label
{
    display: inline-block;
    width: 200px;
}

#button-container-submit
{
    justify-content: center;
    font-size: 20px;
}