.infos-container
{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: #FFF1DD;
    padding: 10px;
    
}

.infos-left
{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 0.5px solid black;
    
}

.infos-right
{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.infos-titre
{
    text-transform: uppercase;
    color: #FFBC61;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 10px;
}

.infos-contenu
{
    margin: 5px 0 5px 0;
}


/* CARTE */

.carte-container
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    border-top: 0.5px solid black;
    padding: 10px;
}

.carte-section
{
    border-bottom: 0.5px solid black;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-bottom: 20px;
    
}

.carte-section-titre
{
    text-transform: uppercase;
    color: #FFBC61;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 10px;
}

.carte-section-choix
{
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
   padding: 20px;
   
}

.carte-section-element
{
    /*border: 0.5px solid black;*/
    padding: 10px;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 150px;
}

.element-titre
{
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: impact;
}

.element-ligne
{
    font-size: 15px;
}

.element-image
{
    width: 100px;
    height: 100px;
}